/* =DIAGNOSTICS - ESTILOS DE DIAGNÓSTICO= */

.diagnostics-compact {
	display: inline-flex;
	align-items: center;
	margin-left: 4px;
	font-size: 12px;
	gap: 2px;
}

.diagnostics-count {
	position: relative;
	top: -0.08em;
	padding: 0 4px;
	font-weight: 600;
	border-radius: 25%;
	font-size: 0.75em;
	padding-bottom: 0.082em;
	max-height: min-content;
	margin-bottom: 2px;
	color: white;
}

.diagnostics-count.error {
	background-color: #f14c4c;
}

.diagnostics-count.warning {
	background-color: #cca700;
}

.diagnostics-count.info {
	background-color: #3794ff;
}

.diagnostics-sep {
	margin: 0 4px;
	color: var(--vscode-editorHint-foreground, #888);
	font-size: 1em;
}

.diagnostics-svg {
	vertical-align: middle;
	margin-right: 2px;
}

.diagnostics-sep {
	color: var(--vscode-editorLineNumber-foreground);
	font-size: var(--subtitle-font-size) !important;
	position: relative;
	top: -0.13em;
}

/* =Animaciones para nuevos diagnósticos= */
.diagnostics-count.new {
	animation: countAppear 5.3s ease-out;
}

@keyframes countAppear {
	0% {
		transform: scale(0.7);
		opacity: 0;
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}